<div class="profile-tab d-none" id="tab-addresses" dir="rtl">

<div class="user-panel-profile border border-radius-3xl">


<div class="user-panel-profile-header p-3 border-bottom-gray-300">


<div class="d-flex justify-content-between align-items-center">


<div class="d-flex align-items-center gap-2">


<span class="profile-icon">
<i class="fa fa-location-dot"></i>
</span>


<div>

<p class="fw-bold mb-0">
آدرس های من
</p>


<small class="text-muted">
مدیریت آدرس های ارسال
</small>


</div>


</div>


<a href="{% url 'account:create_address_from_profile' %}"
class="btn btn-sm custom-btn-danger">

<i class="fa fa-plus"></i>

</a>


</div>


</div>



<div class="p-3">


{% for address in addresses %}


<div class="border border-radius-3xl p-3 mb-3">


<div class="d-flex justify-content-between">


<div>


<p>
{{address.province}} - {{address.city}}
</p>


<p>
{{address.address}}
</p>


<p>
پلاک:
{{address.house_number}}
</p>


<p>
کدپستی:
{{address.postal_code}}
</p>



{% if address.is_default %}

<span class="badge bg-success">
آدرس پیشفرض
</span>

{% endif %}



</div>



<div>


<a href="{% url 'account:edit_address' address.id %}"
class="btn btn-light">

<i class="fa fa-pen"></i>

</a>


{% if not address.is_default %}

<a href="{% url 'account:set_default_address' address.id %}"
class="btn btn-outline-success">

پیشفرض

</a>


{% endif %}


</div>


</div>


</div>



{% empty %}


<p class="text-center text-muted">
آدرسی ثبت نشده است
</p>


{% endfor %}


</div>


</div>

</div>