{% extends 'parent/base.html' %}
{% block title %}آدرس های شما{% endblock %}
{% block content %}
    <div class="header">
        <h2>آدرس های شما</h2>
    </div>

    <div class="big_cart">
        <div id="add_address" style="cursor: pointer; width: fit-content; margin: auto; text-decoration: none; font-size: 14px; color: darkblue;  border: 2px solid black; border-radius: 10px; padding: 5px; background-color: #06ff9f;margin-bottom: 15px;">
            اضافه کردن آدرس +
        </div>
        {% for address in addresses %}
        <div class="item" data-item-id="{{ address.id }}">
            <div class="product_info">
                <div class="unit_price">استان: {{ address.province }}</div>
                <div class="unit_price">شهر: {{ address.city }}</div>
                <div class="unit_price">جزئیات آدرس: {{ address.address }}</div>
                <div class="unit_price">پلاک: {{ address.house_number }}</div>
                <div class="unit_price">کد پستی: {{ address.postal_code }}</div>
            </div>

            <div class="actions">
                <div class="remove_address" style="cursor: pointer; color: white;">حذف</div>
            </div>
        </div>
        {% empty %}
        <div style="text-align: center; color: red">آدرسی اضافه نشده است</div>
        {% endfor %}
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    $('.remove_address').on('click', function() {
        var itemId = $(this).closest('.item').data('item-id');

        $.ajax({
            type: 'POST',
            url: '{% url "account:remove_address" %}',
            data: {
                'item_id': itemId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'  // Send CSRF token
            },
            success: function(response) {
                $(`.item[data-item-id="${itemId}"]`).remove();
            },

        });
    });
});
    $('#add_address').click(function () {
        $.ajax({
            type: 'GET',
            url: '{% url "account:create_address_from_profile" %}',
            success: function (data) {
                    $('body').append(data.template);
                    $('.create_address_box').show();
            },
        });
    });

    $(document).on('click', '.close_button', function () {
        $('.create_address_box').hide();
    });

    $(document).on('click', '.create_address_box', function (e) {
        if ($(e.target).is('.create_address_box')) {
            $('.create_address_box').hide();
        }
    });
</script>
{% endblock %}
