{% extends 'parent/base.html' %}

{% block title %}
ویرایش اطلاعات حساب
{% endblock %}


{% block content %}
<br><br><br><br><br><br><br>

<div
    class="container"
    dir="rtl"
>


<div
    class="
        user-panel-profile
        border
        border-radius-3xl
        mt-4
    "
>



    <!-- HEADER -->

    <div
        class="
            user-panel-profile-header
            p-3
            border-bottom-gray-300
        "
    >


        <div
            class="
                d-flex
                align-items-center
                gap-2
            "
        >


            <span
                style="
                    width:42px;
                    height:42px;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    border-radius:12px;
                    background:#f3f1ff;
                    color:#07006f;
                "
            >

                <i class="fa fa-user"></i>

            </span>



            <div>


                <p class="fw-bold mb-0">

                    ویرایش اطلاعات کاربری

                </p>


                <small class="text-muted">

                    اطلاعات حساب خود را مدیریت کنید

                </small>


            </div>


        </div>


    </div>





    <!-- FORM -->


    <div class="p-4">


        <form
            method="post"
        >

            {% csrf_token %}



            {% for field in form %}



                <div
                    class="mb-3"
                >


                    <label
                        class="fw-bold mb-2"
                    >

                        {{ field.label }}

                    </label>



                    {{ field }}



                    {% if field.errors %}

                        <div
                            class="text-danger small mt-1"
                        >

                            {{ field.errors }}

                        </div>

                    {% endif %}



                </div>



            {% endfor %}




            <button
                type="submit"
                class="
                    btn
                    custom-btn-danger
                    border-radius-3xl
                    w-100
                "
                style="
                    padding:12px;
                    font-weight:600;
                "
            >

                <i class="fa fa-check"></i>

                ذخیره تغییرات


            </button>



        </form>



    </div>



</div>


</div>


{% endblock %}