{% extends 'parent/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="header">
       <h1>جزئیات سفارش</h1>
    </div>
    <div class="container">
    <div style="width: 100%; margin-right: 0" class="big_detail">
        <br>
        <div class="order_detail">
        <div class="order_detail_template">
            <div class="unit_price">شماره سفارش: {{ order.id }}</div>
            <div class="unit_price">نام تحویل گیرنده: {{ order.name }}</div>
            <div class="unit_price">آدرس تحویل: {{ order.address }}</div>
            <div class="unit_price">وضعیت سفارش: {{ order.status }}</div>
            <div class="unit_price">محصولات خریداری شده:</div>
                {% for product in order.items.all %}
                    <div class="product">
                        <a href="{{ product.product.get_absolute_url }}"><img style="; height: 50%; border-radius: 10px" src="
                        {{ product.product.images.first.image_file.url }}" alt="Not found"></a>
                        <a href="{{ product.product.get_absolute_url }}"><div style="text-align: center; margin: 5px;">{{ product.name }}</div></a>
                        <hr>
                        <div style="text-align: right; margin: 5px;">موجودی: {{ product.product.inventory }}</div>
                    {% if product.size %}
                        <div style="text-align: right; margin: 5px;">اندازه: {{ product.size }}</div>
                    {% endif %}
                    {% if product.color %}
                        <div style="text-align: right; margin: 5px;">رنگ: {{ product.color }}</div>
                    {% endif %}
                        {% if product.product.off != 0 %}
                            <div style="color: red; text-align: right; direction: rtl; margin: 5px;"><del>{{ product.product.price }} تومان</del></div>
                            <div style="text-align: right; direction: rtl; margin: 5px;">{{ product.product.off_price }} تومان</div>
                        {% else %}
                            <div style="text-align: right; direction: rtl; margin: 5px;">{{ product.product.price }} تومان</div>
                        {% endif %}
                        <hr>
                        <div style="text-align: right; direction: rtl; margin: 5px;">{{ product.product.description | truncatewords:10 }} </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    <div class="pdf_small_right">
    <a style="color: black; text-decoration: none" href="{% url 'order:invoice_pdf' order.id %}">
    گرفتن فاکتور
    </a>
    <br>
    <br>
    <div style="cursor: pointer" id="return_order">
    ایجاد درخواست مرجوعی
    </div>
    <div style="cursor: pointer" id="show_returns">
        پیگیری درخواست های مرجوعی
    </div>
    </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
    $('#return_order').click(function () {
        $.ajax({
            type: 'GET',
            url: '{% url "order:return_order" order.id %}',
            success: function (data) {
                        if (data.redirect) {
                            window.location.href = data.redirect_url;
                        }else {
                            $('body').append(data.template);
                            $('.return_order_box').show();
                        }
            },
        });
    });

    $(document).on('click', '.close_button', function () {
        $('.return_order_box').hide();
    });

    $(document).on('click', '.return_order_box', function (e) {
        if ($(e.target).is('.return_order_box')) {
            $('.return_order_box').hide();
        }
    });
    $('#show_returns').click(function () {
        $.ajax({
            type: 'GET',
            url: '{% url "order:show_returns" order.id %}',
            success: function (data) {
                        if (data.redirect) {
                            window.location.href = data.redirect_url;
                        }else {
                            $('body').append(data.template);
                            $('.show_return_orders_box').show();
                        }
            },
        });
    });

    $(document).on('click', '.close_button', function () {
        $('.show_return_orders_box').hide();
    });

    $(document).on('click', '.show_return_orders_box', function (e) {
        if ($(e.target).is('.show_return_orders_box')) {
            $('.show_return_orders_box').hide();
        }
    });
});



</script>

{% endblock %}