# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# Django
db.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

product_images/