{% load static %}
{% load shop_tags %}
{% load humanize %}

{% if wishlist_products %}

    {% for product in wishlist_products %}

        <div class="d-flex align-items-center justify-content-between py-2">

            <div class="d-flex align-items-center">

                {% with image=product.images.first %}

                    {% if image %}

                        <img
                            src="{{ image.image_file.url }}"
                            style="width:60px;height:60px;object-fit:contain;"
                        >

                    {% endif %}

                {% endwith %}


                <div class="ms-3">

                    <div class="fw-bold">
                        {{ product.name }}
                    </div>

                    <small class="text-muted">
                        {{ product.off_price|intcomma }} تومان
                    </small>

                </div>

            </div>


            <button
                type="button"
                class="btn btn-sm text-danger remove-wishlist-item"
                data-product-id="{{ product.id }}">

                <i class="fa fa-trash"></i>

            </button>

        </div>

    {% endfor %}

{% else %}

    <p class="text-center">
        علاقه‌مندی خالی است.
    </p>

{% endif %}