{% extends 'parent/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if seller %}
    <div class="header">
       <h1>ورود فروشنده | شماره تلفن و گذرواژه خود را وارد کنید</h1>
    </div>
    {% else %}
    <div class="header">
       <h1>شماره تلفن و گذرواژه خود را وارد کنید</h1>
    </div>
    {% endif %}
    <div class="container">
    <div class="big_detail">
        <div class="login_choice">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ورود">
            </form>
        </div>
        {% for message in messages %}
        <div style="text-align: center; color: red">{{ message }}</div>
    {% endfor %}
    </div>

    </div>

{% endblock %}