{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>کد تایید | ورود</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{% static 'assets/css/vendors/bootstrap/bootstrap.rtl.css' %}">

    <!-- FontAwesome -->
    <link rel="stylesheet"
          href="{% static 'assets/css/vendors/fontawesome/fontawesome.min.css' %}">

    <!-- استایل اصلی -->
    <link rel="stylesheet"
          href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet"
      href="{% static 'assets/css/vendors/fontawesome/all.css' %}">

</head>


<body class="body-login">


<div class="login-wrapper
            d-flex
            justify-content-center
            align-content-center
            flex-row
            w-100
            vh-100">


    <!-- ========================================= -->
    <!-- ستون فرم -->
    <!-- ========================================= -->

    <div class="col-md-6
                col-12
                d-flex
                h-100
                bg-white
                align-items-center
                justify-content-center
                p-4">


        <div class="login-form text-center">


            <!-- لوگو -->
            <a href="{% url 'shop:home' %}">
            <img src="{% static 'assets/img/logo-md.png' %}"
                 alt="لوگو"
                 class="mb-3">
            </a>

            <!-- عنوان -->
            <h1 class="fw-bold fs-3 mb-3">
                کد تایید
            </h1>


            <!-- توضیح -->
            <p class="text-start">
                کد تایید ارسال شده را وارد کنید
            </p>


            <!-- ========================================= -->
            <!-- فرم کد تایید -->
            <!-- ========================================= -->

            <form method="post"
                  class="mb-3">

                {% csrf_token %}


                {{ form.as_p }}
            <br>


                <!-- دکمه تایید -->
                <button type="submit"
                        class="btn-auth w-100 fw-bold">

                    تایید و ادامه

                </button>

            </form>

            <!-- ========================================= -->
            <!-- پیام ها -->
            <!-- ========================================= -->

            {% if messages %}
                <div id="django-messages" class="django-messages">
            
                    {% for message in messages %}
            
                        <div class="django-message django-message-{{ message.tags }}">
            
                            <i class="fa fa-exclamation-circle django-message-icon"></i>
            
                            <span class="django-message-text">
                                {{ message }}
                            </span>
            
                            <button type="button"
                                    class="django-message-close"
                                    onclick="this.parentElement.remove()"
                                    aria-label="بستن">
                                ×
                            </button>
            
                        </div>
            
                    {% endfor %}
            
                </div>
            {% endif %}


            <!-- ========================================= -->
            <!-- تایمر -->
            <!-- ========================================= -->

            <div class="mt-3">

                <span id="timer">
                    2:00
                </span>

            </div>


            <!-- ========================================= -->
            <!-- باکس کد منقضی شده -->
            <!-- ========================================= -->

            <div id="expired-box"
                 style="display: none;"
                 class="mt-3">


                <a href="{% url 'account:verification_login' %}"
                   class="auth">

                    ارسال مجدد کد تایید

                </a>

            </div>
            <br>


            <!-- ========================================= -->
            <!-- تغییر شماره -->
            <!-- ========================================= -->

            <div class="mt-3">

                <a href="{% url 'account:verification_login' %}"
                   class="auth">

                    وارد کردن شماره موبایل جدید

                </a>

            </div>


            <!-- قوانین -->
            <p class="mt-3">

                ورود شما به معنای پذیرش شرایط و قوانین است.

            </p>


        </div>

    </div>



    <!-- ========================================= -->
    <!-- ستون تصویر -->
    <!-- ========================================= -->

    <div class="col-md-6
                d-none
                d-md-block
                p-0">


        <img src="{% static 'assets/img/station.svg' %}"
             class="w-100 h-100 object-fit-cover"
             alt="background">


    </div>


</div>



<script>

document.addEventListener("DOMContentLoaded", function () {

    let timerDisplay = document.getElementById("timer");

    let expiredBox = document.getElementById("expired-box");

    let totalTime = 120;


    /*
    ==========================================
    تشخیص شروع فرایند جدید
    ==========================================
    */

    let isNewLogin = sessionStorage.getItem("isNewLogin");

    if (isNewLogin) {

        localStorage.removeItem("countdownStart");

        sessionStorage.removeItem("isNewLogin");

    }


    /*
    ==========================================
    شروع تایمر
    ==========================================
    */

    let startTime = localStorage.getItem("countdownStart");

    let currentTime = new Date().getTime();


    if (!startTime) {

        startTime = currentTime;

        localStorage.setItem(
            "countdownStart",
            startTime
        );

    }


    /*
    ==========================================
    محاسبه زمان باقی مانده
    ==========================================
    */

    let timeElapsed =
        Math.floor(
            (currentTime - startTime) / 1000
        );


    let time = totalTime - timeElapsed;


    /*
    ==========================================
    اگر زمان تمام شده
    ==========================================
    */

    if (time <= 0) {

        time = 0;

        updateTimerDisplay(time);

        clearSessionVerificationCode();

        showExpiredBox();

        localStorage.removeItem(
            "countdownStart"
        );

    } else {

        updateTimerDisplay(time);

    }


    /*
    ==========================================
    اجرای تایمر
    ==========================================
    */

    let countdown = setInterval(function () {

        if (time <= 0) {

            clearInterval(countdown);

            updateTimerDisplay(0);

            clearSessionVerificationCode();

            showExpiredBox();

            localStorage.removeItem(
                "countdownStart"
            );

            return;

        }


        time--;

        updateTimerDisplay(time);

    }, 1000);


    /*
    ==========================================
    نمایش تایمر
    ==========================================
    */

    function updateTimerDisplay(time) {

        let minutes =
            Math.floor(time / 60);

        let seconds =
            time % 60;


        seconds =
            seconds < 10
                ? "0" + seconds
                : seconds;


        timerDisplay.innerHTML =
            `${minutes}:${seconds}`;

    }


    /*
    ==========================================
    نمایش کد منقضی شده
    ==========================================
    */

    function showExpiredBox() {

        if (expiredBox) {

            expiredBox.style.display = "block";

        }

    }


    /*
    ==========================================
    حذف کد تایید از Session
    ==========================================
    */

    function clearSessionVerificationCode() {

        const xhr =
            new XMLHttpRequest();


        xhr.open(
            "POST",
            "/clear-verification-code/",
            true
        );


        xhr.setRequestHeader(
            "Content-Type",
            "application/json"
        );


        xhr.setRequestHeader(
            "X-CSRFToken",
            getCSRFToken()
        );


        xhr.onload = function () {

            if (xhr.status === 200) {

                console.log(
                    "Verification code cleared from session"
                );

            } else {

                console.error(
                    "Error clearing verification code"
                );

            }

        };


        xhr.send();

    }


    /*
    ==========================================
    دریافت CSRF
    ==========================================
    */

    function getCSRFToken() {

        const csrfInput =
            document.querySelector(
                "[name=csrfmiddlewaretoken]"
            );


        if (csrfInput) {

            return csrfInput.value;

        }


        return "";

    }

});

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const messages = document.querySelectorAll(".django-message");

        messages.forEach(function (message) {

            setTimeout(function () {

                message.style.transition = "opacity 0.4s ease, transform 0.4s ease";
                message.style.opacity = "0";
                message.style.transform = "translateX(50px)";

                setTimeout(function () {
                    message.remove();
                }, 40);

            }, 7000);

        });

    });
</script>

</body>

</html>