{% extends 'parent/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Category Detail{% endblock %}

{% block content %}

<!-- Main:start -->
<main class="container mt-xxxx-large">
<div class="category-products my-3">
    <p>محصولات مربط به دسته بندی : <span class="badge bg-info">{{ category.name }}</span></p>
</div>
{% include "includes/product_page.html" %}
</main>
{% endblock %}
{% block scripts %}
<script>
const pageType = "category";
</script>
<script src="{% static 'js/filter_and_ordering.js' %}"></script>
{% endblock %}